/* CSS - Cascadind Style Sheets - folha de estilo em cascata */
/* smepre em inglês */

*{
    /* margem - espaço pra fora do conteúdo */
    margin: 0;
    /* padding - espaço pra dentro do conteúdo  */
    padding: 0;
    /* limita o conteudo dentro do seu espaço da tela */
    box-sizing: border-box;
}

nav{
    /* cor de fundo */
   background-color: black; 
   /* largura */
   width: 100%;
   /* altura */
   height: 6rem;
}

p{
color: red;
font-size: 5rem;
}

.paragrafo{
 color: white;
 font-size: 2rem;
}

.section-one{
    width: 100%;
    height: 60rem;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
}

.div-one{
    width: 50%;
    height: 10rem;
    background-color: red;
}

.div-two{
    width: 50%;
    height: 10rem;
    background-color: yellow;
}

#main-footer{
    width: 100%;
    height: 6rem;
    background-color: black;
}